@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif
}

body {
    background-color: white;
    height: 1080;
}

#header {
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0;
}

#subheader {
    height: 60px;
    width: 100%;
    background-color: lightgray;
    color: black;
    text-align: center;
    padding: 17px 0;
}

#footer {
    height: 50px;
    background-color: black;
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

#main {
    background: white;
    margin: auto;
    display: table;
}

#login_container {
    display: table-cell;
    vertical-align: middle;
}
